html {
  background: whitesmoke;
}

.spacer {
  flex: 1;
}

.click {
  cursor: pointer;
}

*:focus {
  outline: none;
}

a {
  color: navy;
  text-decoration: none;
}

input[type="number"] {
  text-align: right;
  max-width: 100px;
  font-size: 1.2em;
}

input[type="number"][minor="true"] {
  text-align: right;
  max-width: 50px;
  font-size: 0.8em;
  border: none;
  background: whitesmoke;
  border-radius: 25%;
  font-weight: bold;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.inactive {
  opacity: 0.5;
}

.clickable {
  cursor: pointer;
}

button.logout {
  border: none;
  font-size: 1em;
  padding: initial;
}
